body {
    font-family :Arial, Helvetica, sans-serif;
    margin : 2px;
    padding : 4px;
    /* display : flex; */

}

/* header  */

.header {
    border-bottom : 1px solid blue;
    border-top : 4px solid blue;
    height : 3rem;
}

.span-header {
    color : blue;
    display : inline-block;
    font-size : 16px;
    padding : 12px;
}

.span-right {
    float : right;
}

.blue-span-button {
    background-color: blue;
    border-radius : 4px 0px 4px;
    color : white;
}

/* left content  */

.left {
    /* border : 5px solid black; */
    float : left;
    width : 40%;
}

.boxes {
    display : flex;
    /* align-items : auto; */
    justify-content: space-between;
    padding : 16px;
}

.box {
    align-content : center;
    border : 1px solid blue;
    display : inline-block;
    /* display : flex; */
    /* font-style : underlined; */
    /* justify-content: center; */
    height : 70px;
    /* vertical-align : top; */
    text-align:center;
    vertical-align:middle;
    width : 150px;
}

.box span {
    /* margin-top : 2px; */
    color : blue;
    display : inline-block;
    padding : 12px;
    text-decoration : underline;
}

/* right table  */

.right {
    border : 2px solid black;
    float : right;
    /* font-size : 16px; */
    margin-top : 10px;
    /* padding : 12px; */
    width : 40%;
}

.medium-header {
    color : blue;
    border-bottom : 1px solid black;
    font-size : 16px;
    text-align : center;
}

.right .left-col {
    float : left;
    font-weight : bold;
    font-size : 14px;
}

.right .right-col {
    float : right;
    font-size : 14px;
}