body {
    font-family : 'Consolas';
    margin : 2px;
    padding : 4px;
    /* display : flex; */

}

/* header  */

.header {
    border-bottom : 1px solid blue;
    border-top : 4px solid blue;
    height : 3rem;
}

.span-header {
    color : blue;
    display : inline-block;
    font-size : 16px;
    padding : 12px;
}

.span-right {
    float : right;
}

.blue-span-button {
    background-color: blue;
    border-radius : 4px 0px 4px;
    color : white;
}

/* left content  */

.left {
    border : 5px solid black;
    float : left;
    width : 40%;
}

/* right table  */

.right {
    border : 2px solid black;
    float : right;
    padding : 12px;
    width : 40%;
}

.medium-header {
    text-align : center;
    color : blue; 
}

.right .left-col {
    float : left;
    font-weight : bold;
}

.right .right-col {
    float : right;
}